
@media (min-width: 1000px) {

  h2{
   font-size: 30px;
  }  
/*Icon, H1, Nav*/
h1 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding-top: 30px;
  justify-self: center;
  font-size: 40px;
}


header {
  grid-column: 1;
  grid-row: 1;
  width: 100px;
  padding-top: 25px;
  justify-self: center;
}

#fullnav {
  display: block;
  grid-column: 3/ span 3;
  grid-row: 1;
  justify-self: end;
  padding-top: 20px;
}

/*Fav media 2*/
#favblock {
  background-color: #b1ede8;
  height: 455px;
  margin: 10px 200px;
}

/*Reviews*/
#review1 p {
  margin: 10px 20px 10px 200px;
 }

#review2 p {
  margin: 10px 200px 10px 20px;
 }

/*About Page*/
 #aboutp p {
  padding: 0 20px 15px;
  font-size: 20px;

}



