* { box-sizing: border-box; }

/*Checkout Page*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  
  .col-25 {
    flex: 25%;
  }
  
  .col-50 {
    flex: 50%;
  }
  
  .col-75 {
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container1 {
    background-color: #dbccea;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 50px;
  }
  
  .col-50 input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .col-50 label {
    margin-bottom: 10px;
    display: block;
  }

  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout*/
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  /*Build Your Order Page*/

.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}


.group:before, .shopping-cart:before, .column-labels:before, .product:before, 
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product {
  zoom: 1;
}

.product .product-price:before, .product .product-line-price:before {
  content: '$';
}

/* Body/Header stuff */
#byowrap {
  padding: 0px 30px 30px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#sch1 {
  font-weight: 100;
  padding-bottom: 20px;
  color: #ef3e36;
}


.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dbccea;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbccea;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title{
  margin-right: 20px;
}
.product .product-details .product-description {
  margin: 5px 50px 5px 0;
  line-height: 1.4em;
  color: #340068;
  font-weight: bold;
  text-align: center;
  font-family: 'Calistoga', cursive;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #ef3e36;
  color: #fff;
  font-family: 'Roboto:500', sans-serif;
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #340068;
}

#tablewrap {
  display: grid;
  grid-template-columns: 1fr 300px 50px;
}

table {
 grid-column: 2/3;
}

.totals {
  text-align: right;
}

.totals-bold {
  text-align: right;
  font-weight: bolder;
  font-size: 20px;
  border-top: #dbccea dotted 2px;
  color: #340068;
}


.checkout {
  float: right;
  border: 0;
  margin: 20px 30px 90px 0;
  padding: 6px 25px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
  text-decoration: none;
}

.checkout:hover {
  background-color: #45a049;
}

.product-image img {
  border: #340068 double .5px;
  border-radius: 10px;
}


/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #dbccea;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: $';
  }

}
